.btn{
    cursor: pointer;
    fill: var(--white);
    color: var(--white);
    border-radius: 5px;
    border: 1px solid var(--green);
    background-color: var(--green);
    margin: 0;
    padding: 1rem 1rem;
    font-size: 0.9rem;
}

.btn:hover{
    transition: 0.3s;
    background-color: var(--greenDark);
    color: var(--white);
}